//navbar 
nav #pornation-menu{position:fixed;display:flex;flex-wrap:wrap;flex-direction:row;align-items:center;width:100%;z-index:999;
	.is-dropdown-submenu-parent{position:inherit;
		&.is-down-arrow > a::after{top:1.1rem;right:0;}
	}
	.dropdown.menu:not(.vertical) .is-dropdown-submenu.first-sub{width:100%;border:0;}
	.menu.vertical > li {display:inline-block;width:20%;
		&:hover{background-color:$primary-color;}
		a{text-transform:lowercase;
			&:hover{color:$white;}
		}
	}
	.menu-text{padding:0;}
	.menu > li > a {padding:0.9rem 1rem;color:white;text-transform:uppercase;
		&:hover{color:$primary-color;}
	}
	input[type="search"]{height:1.8rem;font-size:0.8rem;padding:0 0 0 0.5rem;margin-right:0;border:0;}
	.top-bar-right{flex:1;padding:0;
		.menu{float:right;margin-right:5px;
			li{display:block;float:left;
				button{vertical-align:top;height:1.8rem;padding:0 0.6rem;}
			}
		}
	} 
}

//pagination
.pagination{margin:15px 0;clear:both;text-align:center;
	& .active{background-color:$primary-color;padding:5px 10px;margin:0 2px;@include radius(3px);color:$white;}
	a{padding:5px 10px;margin:0 3px;background-color:$light-gray;color:$white;@include radius(3px);
		&.arrow{background:none;}
		&:hover{background-color:$primary-color;}
	}
}


#container{width:100%;padding:60px 0 15px 0;
	& .row{max-width:80rem;

		//page categorie
		.page-cat{
			& .title{background-color:$light-gray;margin:4px 0;
				& h1{font-size:1.5rem;margin:0;}
			}

			& .categorie{display:flex;flex-direction:row;flex-wrap:wrap;padding:0 0 15px 0;
				& .video{margin-bottom:10px;
					& a{background-color:$light-gray;@include radius(3px);
						& .thumb{display:block;position:relative;
							&:after{content: "\f196";font:70px 'foundation-icons';display:block;position:absolute;top:50%;left:50%;@include transform(translate(-50%,-50%));opacity:0;transition:1s all;}
							& img{width:100%;height:auto;position:relative;}
						}
						&:hover{color:#ec567c;
							& .thumb:after{opacity:1;}
						}
						& .desc{font-size:14px;text-align:center;display:block;padding:5px;}
					}
				}
			}
			& .allCategories{
				&:before{content:"Categories";background-color:$light-gray;display:block;text-align:center;padding:5px 0;}
				& ul{margin-left:0;border: 1px solid $light-gray;padding:5px;}
				& li{padding:2px 0;
					& a:hover{color:$primary-color;}
				}
			}
			& > div a{color:#cccccc;display:inline-block;
				img{min-height:202px;}
			}
			& .not-cat{
				& h2{font-size:2rem;line-height:$global-lineheight;}
				& li{width:25%;display:inline-block;padding:5px 0;
					&:hover{background-color:$primary-color;}
					& a{width:100%;}
				}
			} 
		}
		
		//page video
		.page-video{
			h1{font-size:1.2rem;}
			.resume{padding:5px;font-size:12px;text-align:justify;}
			.infos{background-color:$light-gray;@include radius(3px);padding:20px 0;
				.txtinfos{display:block;width:100%;text-align:center;padding:10px 0;overflow:hidden;background-color:$primary-color;}
				.vues,.votes{padding:10px;line-height:28px;
					div[class*="fi-"]{font-size:24px;}
					.positive{color:$success-color;}
				}
				.like,.dislike{padding:10px;font-size:30px;cursor:pointer;
					&:hover{background-color:$primary-color;}
				}
				.like{background-color:silver;}
				.dislike{background-color:$gray;}
			}
		}
	}
}

@media screen and #{breakpoint(medium down)} {
	nav #pornation-menu{
  		.menu.vertical > li {width:33%;}
  	}
}

@media screen and #{breakpoint(small down)} {
	nav #pornation-menu{
  		.menu.vertical > li {width:50%;}
  		.top-bar-right{padding:0 0 0.6rem 1rem;
  			.menu{float:left;}
  		}
  	}
  	#container{padding:10px;}
}




