//navbar 
nav #pornation-menu{position:fixed;display:flex;flex-wrap:wrap;flex-direction:row;align-items:center;width:100%;
	.is-dropdown-submenu-parent{position:inherit;
		&.is-down-arrow > a::after{top:1.2rem;right:0;}
	}
	.dropdown.menu:not(.vertical) .is-dropdown-submenu.first-sub{width:100%;border:0;}
	.menu.vertical > li {display:inline-block;width:20%;
		a{text-transform:lowercase;}
	}
	.menu-text{padding:0;}
	.menu > li > a {padding:0.9rem 1rem;color:white;text-transform:uppercase;
		&:hover{text-decoration:underline;}
	}
	input[type="search"]{height:1.8rem;font-size:0.8rem;padding:0 0 0 0.5rem;margin-right:0;border:0;}
	.top-bar-right{flex:1;padding:0;
		.menu{float:right;
			li{display:block;float:left;
				button{vertical-align:top;height:1.8rem;padding:0 0.6rem;}
			}
		}
	} 
}

//pagination
.pagination{margin:10px 0;
	& .active{background-color:$primary-color;padding:2px 7px;margin:0 2px;@include radius(3px);color:$white;}
	a{padding:2px 7px;margin:0 2px;background-color:$light-gray;color:$white;@include radius(3px);
		&.arrow{background:none;}
	}
}

@media screen and #{breakpoint(medium down)} {
	nav #pornation-menu{
  		.menu.vertical > li {width:33%;}
  	}
}

@media screen and #{breakpoint(small down)} {
	nav #pornation-menu{
  		.menu.vertical > li {width:50%;}
  		.top-bar-right{padding:0 0 0.6rem 1rem;
  			.menu{float:left;}
  		}
  	}
}

//container
#container{width:100%;padding:60px 0 15px 0;}

//page categorie
#container{
	& .row{max-width:80rem;
		& .categorie{display:flex;flex-direction:row;flex-wrap:wrap;}
		.column{padding-bottom:15px;}
		& > div a{color:#cccccc;display:inline-block;
			img{min-height:202px;}
		} 
	}
}
